.a,
.b {
  height: 1500px;
}

.a {
  background-image: linear-gradient(#33cab1, cyan);
}

.b {
  background-image: linear-gradient(#fa6390, orange);
}

.c {
  background-image: linear-gradient(#6a7ff5, pink);
}

.bm-enter,
.bm-leave-to {
  opacity: 0;
}

.bm-enter-active,
.bm-leave-active {
  transition: all 2s;
}
